bcrypt==3.1.4
blinker==1.4
certifi>=2017.4.17
cffi==1.11.5
click==6.7
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
jsonify==0.5
MarkupSafe==1.1.1
numpy==1.19.0
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.0
sklearn==0.0
six==1.11.0
SQLAlchemy==1.2.7
threadpoolctl==2.1.0
urllib3==1.25.9
Werkzeug==1.0.1
wincertstore==0.2
gunicorn
Pillow==5.3.0
pycparser==2.18
WTForms==2.1
